* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: calibri, helvetica, "sans serif";
}

main {
  margin: 15px;
}

.modal-background {
  /* these attributes make the background shade 
   * effect, and make it take up the whole screen.
   */
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, .25);
  width: 100vw; 
  height: 100vh;

  /* these attributes make the modal centered in the
   * viewport.
   */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-frame {
  /* set modal frame properties */
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  width: 800px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .25);

  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 5px 15px 5px 15px;
  background-color: rgb(64, 64, 211);
  border-radius: 3px 3px 0px 0px;
  color: white;
  font-weight: bold;
  font-size: 15pt;
}

.modal-content {
  padding: 0px 15px 0px 15px;
}

.modal-footer {
  padding: 0px 15px 15px 15px;
}

.modal-footer button {
  display: block;
  float: right;
  margin-left: 5px;
}

.hidden {
  display: none;
}
